<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
    <link rel="stylesheet" href="/Style/login.css">
</head>

<body>
    <header></header>
    <main>
        <div class="quadrado" id="login">
            <div id="centro">
                <h1>Entre com sua conta </h1>
                <form th:action="@{/login}" method="post">
                    <div>
                        <label>Credencial<br>
                            <input type="text" name="credencial" required />
                        </label><br>
                        <label><br>
                            Senha<br>
                            <input type="password" name="senha" required />
                        </label>
                    </div>
                    <div th:if="${error}" class="error-message">
                        <p th:text="${error}" style="color: red;"></p>
                    </div>
                    <div th:if="${message}" class="success-message">
                        <p th:text="${message}" style="color: green;"></p>
                    </div>
                    <div>
                        <p>Esqueceu a senha?</p>
                        <button type="submit">Continuar</button>
                    </div>
                </form>
                <p class="black">Não tem conta? <a th:href="@{/cadastro-paciente}">Registra-se</a></p>
            </div>
        </div>
        <div class="quadrado" id="explicacoes">
            <div id="quadradoEx">
                <h1>Informações de credências</h1>
                <div  id="textos">
                    <div>
                        <img src="/Includes/Principal_patient 1.svg" alt="" width="80px" height="80px">
                        <p><s>Pacientes</s> utilizam o e-mail cadastrado como credencial.</p>
                    </div>
                    <div>
                        <img src="/Includes/Principal_doctor.svg" alt="" width="80px" height="80px">
                        <p><s>Médicos</s> utilizam seu CRM como credencial.</p>
                    </div>
                    <div>
                        <img src="/Includes/Login-Recepcao.svg" alt="" width="80px" height="80px">
                        <p><s>Recepcionistas</s> utilizam seu e-mail profissional como credencial.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p><strong>CLINAC+ | 2025</strong><br>
            Os serviços anunciados neste site são apenas um portfólio fictício.<br>
            O Clinac+ é apenas um projeto universitário desenvolvido por alunos como forma de avaliação! As fotos
            contidas nesta página são meramente ilustrativas.</p>
    </footer>
</body>
</html>
